language: java
sudo: false
install: true
addons:
  sonarcloud:
    organization: "thanglequoc-github"
    token:
      secure: "SjwrVXNyDzOcELgiK5AO+ezYafq7qv5KD5vTZgpayTk9Z4CYFCLQQDDec0OoS9I5aTeJlxjLLZ6j/+FjEX5GWmwu62T8DXn4QNcUS5cg0pYZ3UKNUCHL63ked2PSIQub/M1PLRcsxEk3hGnM9cxz7wHCujqpPEE1nipoCItKRjGQG5SvFWupGA1R48CS9YBct9LmIjSHsYPeoTwZ1XpptMmo83DYXy1XldZ9pfViJx7IVw2tnSTjlG6yXNtuuV/VIgqvZAKdJOk+rpkJzBJc8sV9dV303mP8KqSCzyq1+7HT0dVm7tYM2RrPskzAjaKnak1vKupbe2HkxXRCXn+00IpfvUveGryQ0GPMMW8s/m1bc9q9u22rME5nQh3d3yvDfkDbmaEEXRPU5g0z4S1y+k//Gf+CEzf4b2tNcRWy2DHPT2bsk7QXDJPXmzDIk7JKnanVhESbg7WjPZuTsY7Sxl8K/i92oNOX14jrJNJisDerZoVTN1Mj/iXuZWBtVyePa0HW/LLIMzC2toSTeujW7dmt6Y4AyTBP9wfhe0h0CehTX4GGWggR84mKM3ZP1rlPtkuhkK1iSjK5xVueuPbkLGlzupmCdugjoQFf8Eth1aqLdD9+RtjBzN5JZ3cpfhhcR1wwAREx9yVlme3PJtVCm0OYB3fF/M2R5RQ/L1I7A4E="
jdk:
  - oraclejdk8
script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
    